<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Properties (Constants) -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:property name="wheel_suspension_offset_x" value="0.15" />
  <xacro:property name="wheel_suspension_offset_y" value="0.1435" /> 
  <xacro:property name="wheel_suspension_offset_z" value="0" /> 

  <xacro:property name="wheel_radius" value="0.035" />
  <xacro:property name="wheel_size_y" value="0.035" />
  <xacro:property name="wheel_offset_x" value="0" />
  <xacro:property name="wheel_offset_y" value="-0.0055" /> 
  <xacro:property name="wheel_offset_z" value="-0.0715" />

  <xacro:property name="camera_mast_offset_x" value="0.092" />
  <xacro:property name="camera_mast_offset_y" value="0" /> 
  <xacro:property name="camera_mast_offset_z" value="0.025" /> 

  <xacro:property name="camera_base_offset_x" value="0.015" />
  <xacro:property name="camera_base_offset_y" value="0" /> 
  <xacro:property name="camera_base_offset_z" value="0.185" />

</robot>