<?xml version="1.0"?>

<launch>
  <arg name="dev" default="/dev/input/js0"/>
  <arg name="deadzone" default="0.05"/>
  <arg name="config"/>

  <node name="joy" pkg="joy" type="joy_node" respawn="false" output="screen">
    <param name="dev" value="$(arg dev)" />
    <param name="deadzone" value="$(arg deadzone)" />
  </node>

  <node name="smart_joystick" pkg="smart_joystick" type="smart_joystick_node" respawn="false" output="screen">
    <rosparam file="$(find smart_joystick)/config/common.yaml" />
    <rosparam file="$(find smart_joystick)/config/$(arg config).yaml" />
  </node>
</launch>
